{{> message }}
<div id="events" >
    <div class="row">
        {{#each Events}}
        <div class="col">
            <div class="card" style="width: 18rem;" if="{{id}}">
                <img src="{{images.0.url}}" class="card-img-top" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{dates.timezone}}<br></br>{{dates.start.localDate}}<p> </p>{{dates.start.localTime}}
                    </p>
                    <form action={{url}} method="GET">
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
                {{/each}}
            </div>
        </div>