{{!-- Display messages if any --}}
{{> message}}

<div id="homebody">
    {{#each pet}}
    <div class="card">
        <img src="{{this.image_url}}" alt="{{this.name}}" class="card-img-top">
        <div class="card-body">
            <h6 class="card-title"><strong>{{this.name}}</strong></h6>
            <p class="card-text">Breed: {{this.breed}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Age: {{this.age}}</strong></li>
        </ul>
        <div class="card-body">
            <form method="POST" action="/view-pet">
                <input type="hidden" name="petId" value="{{this.id}}">
                <button type="submit" class="btn btn-primary">View Details</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>
