<div id="pets-container">
    {{#if pets.length}}
    <div id="homebody"> <!-- Align with the structure of home.hbs -->
        {{#each pets}}
        <div class="card">
            <img src="{{this.image_url}}" class="card-img-top" alt="{{this.name}}">


            <div class="card-body">
                <h5 class="card-title"><strong>{{this.name}}</strong></h5>
                <p class="card-text">Class: {{this.class}}</p>
                <p class="card-text">Breed: {{this.breed}}</p>
                <p class="card-text">Age: {{this.age}}</p>
                <p class="card-text">Location: {{this.location}}</p>
            </div>
            <div class="card-body">
                <form method="POST" action="/view-pet">
                    <input type="hidden" name="petId" value="{{this.id}}">
                    <button type="submit" class="btn btn-primary">View Details</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p style="text-align: center; color: #555;">Your wishlist is empty.</p>
    {{/if}}
</div>